Integer_Triangle_problem/.idea/
01_Numbers/002_Prime_Factorization/.idea/
01_Numbers/003_Alarm_Clock/.idea/
01_Numbers/004_Next_Prime_Number/.idea/
01_Numbers/005_Distance_Between_Two_Cities/.idea/
01_Numbers/006_Happy_Numbers/.idea/
01_Numbers/008_Coin_Flip_Simulation/.idea/
01_Numbers/010_Fast_Exponentiation/.idea/
01_Numbers/011_Number_Names/.idea/
01_Numbers/016_Binary_to_Decimal_Converter/.idea/
01_Numbers/019_Factorial_Finder/.idea/
02_Classic_Algorithms/009_Collatz_Conjecture/.idea/
05_Text/012_Fizz_Buzz/.idea/
05_Text/013_Reverse_a_String/.idea/
05_Text/014_Count_Vowels/.idea/
05_Text/015_Check_if_Palindrome/.idea/
05_Text/017_Count_Words_in_a_String/.idea/
07_Classes_OOP/007_Product_Inventory_Project/.idea/
Labyrinth_Deitel_8.25/.idea/

05_Text/WX_HW_With_release/
05_Text/018_Text_Editor/bin/
05_Text/018_Text_Editor/obj
05_Numbers/20_Complex_Number_Algebra/.idea
Deitel/09.14_Huge_Integer/.idea/
Deitel/08.25_Labyrinth/.idea/
01_Numbers/020_Complex_Number_Algebra/.idea/
01_Numbers/021_Fibonacci_sequence/.idea/
06_Networking/021_FTP_Program/
Arduino/Cpp-serial-communication/bin/
Arduino/Cpp-serial-communication/obj/
/obj/
/bin/
Deitel/10.9_IntegerSet/bin/Debug/10.exe
*.o
*.exe